$theme_bg_color: #363D4A;
$theme_fg_color: #CDCFD2;

$theme_error_color: #F92672;

$theme_slider_bg_color: #40454B;
$theme_slider_fg_color: #808388;
$theme_slider_handle_color: #BFC1C4;

$theme_button_color: #252B34;
$theme_button_highlight_color: #2C323D;
$theme_button_selected_color: #4C535E;
$theme_button_selected_border: #70BAFA;

$theme_highlight_color: #363D4A;

$theme_urgent_color: #FFB373;
